body {
    a {
        text-decoration: none;
    }
    li {
        list-style-type: none;
    }

    // font-family: 'Roboto', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
    margin: 0;
    //background-color: black;
    //background-image: url('./assets/v882-mind-03-e.jpg');
}
// Icone Chevron up
.scroll-top-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    //background-color: #2e4a66;
    transition: 500ms ease-in-out;
    text-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 3px black;
}
.scroll-top-btn:hover {
    transform: rotate(360deg);
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(44, 69, 91, 0.8);
    padding: 0.2em 0;
    z-index: 2;
    .header-div {
        display: flex;
        img {
            max-width: 8em;
            object-fit: cover;
        }
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            width: 100%;
        }
        a {
            color: white;
            font-size: 1.2em;
        }
        li {
            padding-bottom: 0.2em;
            transition: all 500ms ease-in-out;
            border-bottom: 2px solid transparent;
        }
        li:nth-child(1):hover,
        li:nth-child(2):hover,
        li:nth-child(3):hover,
        li:nth-child(4):hover,
        li:nth-child(5):hover {
            border-bottom: 2px solid white;
        }
        li:nth-child(6) {
            font-size: 1.5em;
        }
        li:nth-child(6):hover {
            transform: scale(1.2);
        }
    }
}

// Section de présentation
.presentation-section {
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/Le-massif-du-Vercors-star-des-plateaux-cinema.webp');
    height: 100vh;
    z-index: 1;
    .presentation-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10em 0;
        h1 {
            font-size: 2.5em;
            margin-top: 0;
            text-shadow: 1px 1px 10px rgb(56, 56, 56);
        }
        p {
            margin-bottom: 3em;
            font-size: 1.4em;
            text-shadow: 1px 1px 5px rgb(25, 25, 25);
        }

        .contact-me-link {
            color: white;
            padding: 0.5em 1.5em;
            border-radius: 0.2em;
            font-size: 1.4em;
            position: relative;
            z-index: 1;
            border: 1px solid white;
            transition: 500ms ease-in-out;
            text-shadow: 1px 1px 5px rgb(25, 25, 25);
        }
        .contact-me-link::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(
                45,
                74,
                102,
                0.7
            ); /* Opacité ajustable ici */
            z-index: -1;
            border: 1px solid white;
            border-radius: 0.2em;
        }
        .contact-me-link:hover {
            background-color: rgb(108, 148, 187, 0.7);
            transform: scale(1.1);
        }
    }
}

.presentation-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Opacité ajustable ici */
    z-index: -1; /* Assure que le pseudo-élément reste en arrière-plan */
}

// Section Qui suis je
.about-section {
    padding: 6em 0;
    background-color: #f6d2b8;
    color: #2e4a66;
    position: relative;
    .about-after-div {
        content: ' ';
        background-color: #e5975f;
        width: 374px;
        height: 329px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .about-article {
        display: flex;
        align-items: center;
    }
    .about-img-div {
        flex: 1;
        z-index: 1;
        .about-img {
            width: 90%;
            height: auto;
            object-fit: cover;
        }
    }
    .about-text-div {
        flex: 2;
        padding: 0 3em 0 0;
        h2 {
            font-size: 2.3em;
            //text-shadow: 1px 1px 3px rgb(56, 56, 56);
        }
        b {
            font-style: italic;
            font-size: 1.1em;
        }
        p {
            font-size: 1em;

            //line-height: 1.7em;
            //font-weight: 400;
            //text-shadow: 1px 1px 1px rgb(64 62 62);
        }
    }
}

// Section Réalisation galerie
.realisation-section {
    color: #2e4a66;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4em 0 7em 0;
    h2 {
        font-size: 2.3em;
        margin-bottom: 1.4em;
        text-align: center;
        border-bottom: 2px solid #2e4a66;
        border-top: 2px solid #2e4a66;
        width: 50%;
        //text-shadow: 1px 1px 3px rgb(56, 56, 56);
    }
    .realisation-article {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 3em;
        row-gap: 3em;
        //background-color: #1c6474;
        padding: 3em 0;
        //background: linear-gradient(#a8d5d8, white, pink, white, #1c6474);
        background: #1c6474;

        .realisation-card-div {
            position: relative;
            //border: 1px solid #2e4a66;
            width: 43%;
            img {
                //position: relative;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .after-card-div {
            opacity: 0;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100%;
            color: white;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: 500ms ease-in-out;
            h4 {
                font-size: 1.5em;
                margin: 0;
                font-weight: 500;
            }
            p {
                font-size: 1.1em;
                text-align: center;
                padding: 0 1em;
            }
            a {
                color: #2e4a66;
                background-color: white;
                padding: 0.4em 2.4em;
                border-radius: 0.4em;
                transition: all 500ms ease-in-out;
                margin-top: 1.2em;
                font-weight: 500;
            }
            a:hover {
                //transform: scale(1.1);
                background-color: #1c6474;
                color: white;
            }
        }
        .after-card-div:hover {
            opacity: 1;
        }
    }
}

// Section Prestation
.prestation-section {
    color: #2e4a66;
    background-color: #a8d5d8;
    position: relative;
    .prestation-article {
        padding: 4em 0;
        .prestation-text-div {
            margin-top: 1em;
            h2 {
                text-align: center;
                font-size: 2.3em;
                //text-shadow: 1px 1px 3px rgb(56, 56, 56);
            }
            p {
                text-align: center;
                font-size: 1.1em;
                line-height: 1em;
                font-weight: 500;
            }
        }
        .prestation-box-div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 3em;
            margin-top: 3em;
            .prestation-card-div {
                //border: 3px solid #2e4a66;
                width: 25%;
                padding: 0 1em;
                border-radius: 1em;
                background-color: white;
                z-index: 1;
                h3 {
                    text-align: center;
                    font-size: 1.5em;
                    background-color: #2e4a66;
                    color: white;
                    padding: 0.4em 0.2em;
                    border-radius: 0.2em;
                }
                p {
                    text-align: center;
                    font-size: 1em;
                }
            }
        }
        .prestation-contact-div {
            margin-top: 2.5em;
            display: flex;
            justify-content: center;
            .prestation-contact-link {
                color: white;
                padding: 0.5em 1.5em;
                border-radius: 0.2em;
                font-size: 1.4em;
                border: 1px solid white;
                transition: all 300ms ease-in-out;
                background-color: rgb(45, 74, 102);
            }
            .prestation-contact-link:hover {
                background-color: rgb(45, 74, 102);
                transform: scale(1.1);
            }
        }
    }
}
.prestation-section::before {
    content: ' ';
    background-color: #1c6474;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
    z-index: 0;
}

// Section Travaillons ensemble
.work-together-section {
    padding: 4em 0;
    color: #2e4a66;
    .work-together-div {
        display: flex;
        align-items: center;
        flex-direction: column;
        h2 {
            font-size: 2.3em;
        }
        p {
            text-align: center;
            font-size: 1.1em;
            line-height: 1.7em;
            font-weight: 500;
        }
        b {
            color: #1c6474;
            font-style: italic;
        }
        b:hover {
            color: #a8d5d8;
        }
        .work-contact-link {
            color: white;
            padding: 0.3em 1.2em;
            border-radius: 0.2em;
            font-size: 1.2em;
            border: 6px double #2e4a66;
            transition: all 300ms ease-in-out;
            background-color: rgb(45, 74, 102);
        }
        .work-contact-link:hover {
            background-color: rgb(45, 74, 102);
            border-color: white;
        }
    }
}

footer {
    color: white;
    .footer-section {
        display: flex;
        justify-content: space-around;
        padding: 1.4em 0;
        background-color: #1c6474;
        a:hover {
            color: #e5975f;
        }
    }
    .footer-contact-div {
        row-gap: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        max-width: 10em;
    }
    a {
        color: white;

        img {
            max-width: 3em;
            transition: all 500ms ease-in-out;
        }
        img:hover {
            //box-shadow: 2px 2px 5px white;
            transform: rotateY(360deg);
        }
    }

    .footer-mail-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
        .fa-envelope,
        .fa-phone {
            margin-right: 0.5em;
        }
    }
    .pages-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h5 {
            font-size: 1.5em;
            margin: 0 0 0.5em 0;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                line-height: 2em;
                font-size: 0.9em;
                display: flex;
                column-gap: 0.4em;
                align-items: center;
                img {
                    height: 1.1em;
                    color: white;
                }
            }
        }
    }
    .useful-link-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h5 {
            font-size: 1.4em;
            margin: 0 0 0.5em 0;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                line-height: 2em;
                font-size: 0.9em;
                display: flex;
                column-gap: 0.4em;
                align-items: center;
                img {
                    height: 1.1em;
                    color: white;
                }
            }
        }
    }
    .footer-bottom-section {
        padding: 1.5em 0;
        background-color: #2e4a66;
        p {
            text-align: center;
        }
    }
}

.contact-footer-bottom-section {
    padding: 1.5em 0;
    background-color: #111e2b;
    p {
        text-align: center;
    }
}

// Page CONTACT
.contact-main {
    background-color: #2e4a66;
    display: flex;
    flex-direction: column;
    align-items: center;
    .page-contact-section {
        padding: 5em 0 3em 0;
        width: 100%;

        h1 {
            font-size: 2.5em;
            color: white;
            text-align: center;
            border-bottom: 1px solid #2e4a66;
            background: #2e4a66;
            padding: 1em 0;
        }
        article {
            display: flex;
            justify-content: space-around;
            background: white;
            padding: 5em 0;
            border-radius: 1em;
            span {
                height: 8em;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .contact-div-card {
                background-color: #2e4a66;
                width: 100%;
                padding: 0.5em 0;
                color: white;
                border-radius: 0.5em;
                display: flex;
                flex-direction: column;
                row-gap: 0.3em;
                p {
                    text-align: center;
                    margin: 0;
                }
                b {
                    color: white;
                    margin-bottom: 0.5em;
                }
            }
            .phone-contact-div {
                display: flex;
                flex-direction: column;
                width: 22%;
                align-items: center;
                justify-content: space-between;
                padding: 0.5em;
                border-radius: 1em;
                border: 3px solid #1c6474;
                transition: 500ms ease;
            }
            .phone-contact-div:hover {
                background-color: rgb(212, 212, 212);
            }
            .mail-contact-div {
                width: 22%;
                padding: 0.5em;
                border-radius: 1em;
                border: 3px solid #1c6474;
                transition: 500ms ease;
            }
            .mail-contact-div:hover {
                background-color: rgb(212, 212, 212);
            }
            .messenger-contact-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                color: black;
                row-gap: 0.5em;
            }
            .messenger-contact-div {
                width: 22%;
                padding: 0.5em;
                border-radius: 1em;
                border: 3px solid #1c6474;
                transition: 500ms ease;
            }
            .messenger-contact-div:hover {
                background-color: rgb(212, 212, 212);
            }

            img {
                max-width: 5em;
            }
            .fa-envelope {
                font-size: 5em;
            }
        }
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        color: white;
        row-gap: 1.4em;
        padding: 4em 1em 5em 1em;
        button {
            z-index: 2;
            padding: 0.5em 3em;
            font-size: 1.1em;
            border-radius: 0.6em;
            position: relative;
            overflow: hidden; /* Assure que le pseudo-élément dépasse du bouton */
        }
        button:hover {
            color: white;
        }

        button::before {
            content: ''; /* Pseudo-élément avant pour l'animation */
            position: absolute;
            top: 0;
            left: 0;
            width: 0; /* Largeur initiale de l'élément */
            height: 100%;
            background-color: #1c6474;
            transition: width 400ms ease-out;
            z-index: -1;
        }

        button:hover::before {
            width: 100%;
        }

        button span {
            position: relative;
            z-index: 3; /* Mettre le texte au-dessus de l'élément remplissant */
        }
    }
    .name-form-div {
        display: flex;
        width: 100%;
        column-gap: 2em;
    }
    .lastname-div,
    .firstname-div,
    .email-div,
    .textarea-div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    input {
        padding: 1.2em;
        border-radius: 1em;
    }
    label {
        padding-bottom: 0.2em;
    }
    textarea {
        padding: 1em;
        border-radius: 1em;
    }
}
//Resposive

@media (max-width: 1024px) {
    .presentation-section {
        .presentation-div {
            padding: 10em 1em;
        }
    }

    .name-form-div {
        flex-direction: column;
    }
    .about-section {
        padding: 4em 0;
    }
    .about-article {
        padding: 0 1em;
    }
    .about-after-div {
        display: none;
    }
    .realisation-section {
        padding: 2em 0 0 0;
        .realisation-article {
            .realisation-card-div {
                width: 85%;
            }
        }
    }
    .prestation-section {
        .prestation-article {
            padding: 3em 0;
            .prestation-box-div {
                justify-content: space-around;
                .prestation-card-div {
                    width: 70%;
                }
            }
        }
    }
    .prestation-section::before {
        background-color: transparent;
    }
    .work-together-section {
        padding: 2em 0;
        .work-together-div {
            padding: 0 1em;
        }
    }
}

@media (max-width: 768px) {
    header {
        nav {
            ul {
                li:nth-child(2),
                li:nth-child(3),
                li:nth-child(4) {
                    display: none;
                }
            }
        }
    }
    .presentation-section {
        .presentation-div {
            align-items: center;
            padding: 8em 1em;
            p {
                text-align: center;
            }
            h1 {
                margin: 0.5em 0;
                text-align: center;
                font-weight: 400;
            }
        }
        .prestation-article .prestation-text-div h2 {
            margin: 0 0 1em 0;
        }
    }
    .about-section {
        .about-img-div {
            display: flex;
            justify-content: center;
        }
        .about-text-div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            h2 {
                text-align: center;
            }
        }
        .about-article {
            flex-direction: column;
        }
    }
    footer {
        .footer-section {
            flex-direction: column;
            align-items: center;
            row-gap: 2em;
        }
        .footer-contact-div {
            border-bottom: 1px solid white;
            width: 60%;
            padding: 0 0 0.5em 0;
        }
        .pages-div {
            align-items: center;
            border-bottom: 1px solid white;
            width: 60%;
            padding: 0 0 0.5em 0;
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .useful-link-div {
            align-items: center;
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .work-together-section {
        padding: 1em 0 3.5em 0;
        .work-together-div {
            h2 {
                text-align: center;
                margin: 1em 0 0.2em 0;
            }
        }
    }
    .realisation-section {
        h2 {
            width: 80%;
        }
        .realisation-article .realisation-card-div {
            width: 95%;
        }
    }
}
