@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gotu&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

$box-shadow: 10px 10px 25px #516b78;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    a {
        text-decoration: none;
    }
    li {
        list-style-type: none;
    }
    font-family: 'IBM Plex Sans', sans-serif;
}

// Icone Chevron up
.scroll-top-btn {
    position: fixed;
    bottom: 10px;
    right: 18px;
    border: 3px solid #cabb9a;
    border-radius: 50%;
    color: white;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    transition: 500ms ease-in-out;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}
.scroll-top-btn:hover {
    transform: rotate(360deg);
    box-shadow: none;
}

.container-width {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(44, 69, 91, 0.8);
    padding: 0.2em 0;
    z-index: 2;
    box-shadow: 1px 1px 10px rgb(41, 41, 41);
    .header-div {
        display: flex;
        img {
            width: 7em;
            height: 100%;
        }
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .dropdown-div {
            display: none;
            span {
                display: none;
                transition: all 700ms ease-in-out;
                .fa-bars {
                    font-size: 2.5em;
                    color: #cabb9a;
                }
            }
            span:active + ul {
                transform: translateY(-50px);
                opacity: 0;
            }
            ul {
                position: absolute;
                top: 3.8em;
                right: 0;
                font-size: 1em;
                display: flex;
                flex-direction: column;
                padding: 1em;
                row-gap: 1em;
                text-transform: uppercase;
                transition: all 500ms ease-in-out;
                opacity: 1;
                background: rgba(0, 0, 0, 0.8);
                font-weight: 500;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            width: 55%;
        }
        a {
            color: white;
            font-size: 1.2em;
        }
        li {
            padding-bottom: 0.2em;
            transition: all 500ms ease-in-out;
            border-bottom: 2px solid transparent;
        }
        li:nth-child(1):hover,
        li:nth-child(2):hover,
        li:nth-child(3):hover,
        li:nth-child(4):hover,
        li:nth-child(5):hover {
            border-bottom: 2px solid white;
        }
        li:nth-child(6) {
            font-size: 1.5em;
        }
        li:nth-child(6):hover {
            transform: scale(1.2);
        }
    }
}

// Section de présentation
.presentation-section {
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/background-vercors.webp');
    height: 100vh;
    z-index: 1;
    .presentation-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 14em 0;
        h1 {
            font-size: 2.5em;
            text-shadow: 1px 1px 10px rgb(56, 56, 56);
        }
        p {
            margin: 2em 0 5em 0;
            font-size: 1.4em;
            text-shadow: 1px 1px 5px rgb(25, 25, 25);
        }

        .contact-me-link {
            color: white;
            padding: 0.5em 1.5em;
            border-radius: 0.2em;
            font-size: 1.4em;
            position: relative;
            z-index: 1;
            border: 1px solid white;
            transition: 500ms ease-in-out;
            text-shadow: 1px 1px 5px rgb(25, 25, 25);
        }
        .contact-me-link::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(
                45,
                74,
                102,
                0.7
            ); /* Opacité ajustable ici */
            z-index: -1;
            border: 1px solid white;
            border-radius: 0.2em;
        }
        .contact-me-link:hover {
            background-color: #88bef9;
            transform: scale(1.1);
        }
    }
}

.presentation-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Opacité ajustable ici */
    z-index: -1; /* Assure que le pseudo-élément reste en arrière-plan */
}

// Section Qui suis je
.about-section {
    background-color: #eff0f1;
    color: #203343;
    position: relative;
    display: flex;
    padding: 8em;
    height: 100vh;
    .about-article {
        display: flex;
        align-items: center;
    }
    .box-img-div {
        display: flex;
        padding: 3em 4em;
        box-shadow: 10px 10px 25px #516b78;
        border-top: 15px solid #1c6474;
        border-bottom: 15px solid #1c6474;
        border-left: 15px solid #a8d5d8;
        border-right: 15px solid #a8d5d8;
    }
    .about-img-div {
        box-shadow: 2px 2px 12px rgb(81, 81, 81);
        object-fit: cover;
        background-color: #e2e0dd;
        border-radius: 0.2em;
        display: flex;
        .about-img {
            width: 17em;
            border-radius: 0.2em;
        }
    }

    .about-text-div {
        padding: 0 0 0 4em;
        display: flex;
        flex-direction: column;
        row-gap: 1.3em;
        h2 {
            font-size: 2.3em;
        }
        b {
            font-style: italic;
            font-size: 1.1em;
        }
        p {
            font-size: 1.2em;
            line-height: 1.6em;
        }
    }
}

// Section Prestation
.prestation-section {
    color: #2e4a66;
    background-color: #a8d5d8;
    position: relative;
    //height: 100vh;
    .prestation-article {
        padding: 6em 0;
        .prestation-text-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                color: #203343;
                background-color: #eff0f1;
                text-align: center;
                font-size: 2.3em;
                margin: 0 0 2em 0;
                padding: 0.2em 2.5em;
                box-shadow: 5px 5px 20px rgb(88, 88, 88);
                border-top: 15px solid #1c6474;
                border-bottom: 15px solid #1c6474;
                border-left: 15px solid #a8d5d8;
                border-right: 15px solid #a8d5d8;
            }
            p {
                text-align: center;
                font-size: 1.1em;
                line-height: 1em;
                font-weight: 500;
            }
        }
        .prestation-box-div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 3em;
            column-gap: 3em;
            margin-top: 5em;
            .prestation-card-div {
                width: 30%;
                padding: 1em;
                border-radius: 1em;
                background-color: #eff0f1;
                z-index: 1;
                box-shadow: 2px 2px 10px black;
                cursor: pointer;
                transition: 1000ms ease-in-out;
                h3 {
                    text-align: center;
                    font-size: 1.5em;
                    background-color: #2e4a66;
                    color: white;
                    padding: 0.4em 0.2em;
                    border-radius: 0.2em;
                }
                p {
                    text-align: center;
                    font-size: 1em;
                    margin-top: 1em;
                }
            }
            .prestation-card-div:hover {
                transform: scale(1.1);
            }
        }
        .prestation-contact-div {
            margin-top: 4em;
            display: flex;
            justify-content: center;
            .prestation-contact-link {
                color: white;
                padding: 0.5em 2em;
                border-radius: 0.2em;
                font-size: 1.4em;
                border: 4px solid white;
                transition: all 500ms ease-in-out;
                background-color: rgb(45, 74, 102);
                box-shadow: 1px 1px 10px rgb(99, 99, 99);
            }
            .prestation-contact-link:hover {
                //background-color: rgb(45, 74, 102);
                transform: scale(1.05);
                //border-color: #e2e0dd;
            }
        }
    }
}
.prestation-section::before {
    bottom: 0;
    height: 33%;
    width: 100%;
    background-color: #1d6474;
    position: absolute;
    content: '::before content';
}

// Section Réalisation galerie
.realisation-section {
    position: relative;
    background-color: #eff0f1;
    color: #203343;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7em 0 7em 0;
    box-shadow: 0px 0px 5px black;

    // Animation h2
    @keyframes tipsy {
        0% {
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
        100% {
            transform: translateX(-50%) translateY(-50%) rotate(360deg);
        }
    }
    h2 {
        color: #203343;
        background-color: #eff0f1;
        text-align: center;
        font-size: 2.3em;
        margin: 0 0 1.5em 0;
        padding: 0.2em 2.5em;
        box-shadow: 4px 4px 15px rgb(88, 88, 88);
        border-top: 15px solid #1c6474;
        border-bottom: 15px solid #1c6474;
        border-left: 15px solid #a8d5d8;
        border-right: 15px solid #a8d5d8;
    }

    .realisation-article {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 3em;
        row-gap: 8em;
        padding: 3em 0;
        background: #eff0f1;
        .realisation-card-div {
            position: relative;
            box-shadow: 0px 0px 10px rgb(161, 161, 161);
            width: 47%;
            cursor: pointer;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .realisation-card-div:after {
            background-color: black;
            height: 2px;
            width: 250px;
        }
        .after-card-div {
            opacity: 0;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100%;
            color: white;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            transition: 700ms ease-in-out;
            .title-project {
                font-size: 1.9em;
                margin: 0;
                font-weight: 200;
                text-shadow: 0px 0px 2px black;
            }

            .glow-on-hover {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5em 2.5em;
                transition: all 500ms ease-in-out;
                font-weight: 400;
                font-size: 1.2em;
                width: 220px;
                height: 50px;
                border: none;
                outline: none;
                color: black;
                background: #eff0f1;
                cursor: pointer;
                position: relative;
                z-index: 0;
                border-radius: 2em;
            }
            .glow-on-hover:before {
                content: '';
                background: linear-gradient(
                    45deg,
                    #1d6474,
                    #a8d5d8,
                    #1d6474,
                    #a8d5d8,
                    #1d6474,
                    #a8d5d8,
                    #1d6474,
                    #a8d5d8
                );
                position: absolute;
                top: -2px;
                left: -2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                border-radius: 2em;
            }

            .glow-on-hover:active {
                color: #000;
            }

            .glow-on-hover:active:after {
                background: transparent;
            }

            .glow-on-hover:hover:before {
                opacity: 1;
            }
        }
        .after-card-div:hover {
            opacity: 1;
        }
    }
}

// Section Travaillons ensemble
.work-together-section {
    padding: 4em 0;
    color: #12414b;
    .work-together-div {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 1.5em;
        h2 {
            font-size: 2.3em;
        }
        p {
            text-align: center;
            font-size: 1.1em;
            line-height: 1.7em;
            font-weight: 400;
        }
        b {
            color: #1c6474;
            font-style: italic;
            font-weight: 700;
        }
        b:hover {
            color: #4db1b9;
        }
        .work-contact-link {
            color: white;
            padding: 0.3em 1.2em;
            border-radius: 0.2em;
            font-size: 1.2em;
            border: 6px double #1d6474;
            transition: all 300ms ease-in-out;
            background-color: #1d6474;
            box-shadow: 2px 2px 5px rgb(82, 82, 82);
        }
        .work-contact-link:hover {
            background-color: #26879d;
            border-color: white;
        }
    }
}

footer {
    color: white;
    .footer-section {
        display: flex;
        justify-content: space-around;
        padding: 1.4em 0;
        background-color: #1c6474;
        a:hover {
            color: #e5975f;
        }
    }
    .footer-contact-div {
        row-gap: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img {
        max-width: 6em;
    }
    a {
        color: white;

        img {
            max-width: 3em;
            transition: all 500ms ease-in-out;
        }
        img:hover {
            transform: rotateY(360deg);
        }
    }

    .footer-mail-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
        .fa-envelope,
        .fa-phone {
            margin-right: 0.5em;
        }
    }
    .pages-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h4 {
            font-size: 1.5em;
            margin: 0 0 0.5em 0;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                line-height: 2em;
                font-size: 0.9em;
                display: flex;
                column-gap: 0.4em;
                align-items: center;
                img {
                    height: 1.1em;
                    color: white;
                }
            }
        }
    }
    .useful-link-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h4 {
            font-size: 1.4em;
            margin: 0 0 0.5em 0;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                line-height: 2em;
                font-size: 0.9em;
                display: flex;
                column-gap: 0.4em;
                align-items: center;
                img {
                    height: 1.1em;
                    color: white;
                }
            }
        }
    }
    .footer-bottom-section {
        padding: 1em 0;
        background-color: #12414b;
        p {
            text-align: center;
            font-size: 0.9em;
            font-weight: 300;
        }
    }
}

//Responsive

@media (max-width: 1024px) {
    .presentation-section {
        .presentation-div {
            padding: 10em 1em;
        }
    }

    .name-form-div {
        flex-direction: column;
    }
    .about-section {
        padding: 4em 0;
    }
    .about-article {
        padding: 0 1em;
    }
    .about-after-div {
        display: none;
    }
    .realisation-section {
        padding: 2em 0 0 0;
        .realisation-article {
            .realisation-card-div {
                width: 85%;
            }
        }
    }
    .prestation-section {
        .prestation-article {
            padding: 3em 0;
            .prestation-box-div {
                justify-content: space-around;
                .prestation-card-div {
                    width: 70%;
                }
            }
        }
    }
    .prestation-section::before {
        background-color: transparent;
    }
    .work-together-section {
        padding: 2em 0;
        .work-together-div {
            padding: 0 1em;
        }
    }

    //Page Contact
    // .contact-main {
    //     .contact-form {
    //         width: 70%;
    //     }
    // }
}

@media (max-width: 768px) {
    header {
        nav {
            justify-content: space-evenly;
            .header-div {
                img {
                    max-width: 5em;
                }
            }
            .nav-item {
                display: none;
            }
            .dropdown-div {
                display: block;
                span {
                    display: block;
                }
            }
        }
    }
    .presentation-section {
        .presentation-div {
            padding: 9em 1em;
            p {
                margin: 1.5em 0 4em 0;
            }
        }
    }
    .prestation-section {
        .prestation-article {
            padding: 2em 0 0.1em 0;
            .prestation-text-div {
                h2 {
                    margin: 0.2em 0 1em 0;
                }
            }
            .prestation-box-div {
                .prestation-card-div {
                    width: 95%;
                    padding: 1.5em;
                    p {
                        margin-top: 1em;
                    }
                }
            }
            .prestation-contact-div {
                margin: 3em 0;
            }
        }
    }
    .about-section {
        padding: 2em 0;
        .about-img-div {
            display: flex;
            justify-content: center;
            .about-img {
                width: 98%;
            }
        }
        .about-text-div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.2em 0.4em;
            h2 {
                text-align: center;
                margin: 0.1em 0 0.7em 0;
            }
        }
        .about-article {
            flex-direction: column;
            padding: 0.1em 0;
        }
    }
    .work-together-section {
        padding: 1em 0 3.5em 0;
        .work-together-div {
            h2 {
                text-align: center;
                margin: 1em 0 0.2em 0;
            }
            .work-contact-link {
                margin: 1.5em 0 0.2em 0;
            }
        }
    }
    .realisation-section {
        padding: 4em 0;
        h2 {
            width: 80%;
            //8margin: 1.5em 0;
        }
        .realisation-article {
            padding: 0;
            row-gap: 2em;
            .realisation-card-div {
                width: 95%;
            }
        }
    }
    footer {
        .footer-section {
            flex-direction: column;
            align-items: center;
            row-gap: 2em;
        }
        .footer-contact-div {
            border-bottom: 1px solid white;
            width: 80%;
            padding: 0 0 0.5em 0;
        }
        .pages-div {
            align-items: center;
            border-bottom: 1px solid white;
            width: 60%;
            padding: 0 0 0.5em 0;
            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .useful-link-div {
            align-items: center;
            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    .scroll-top-btn {
        width: 1em;
        height: 1em;
        bottom: 20px;
    }
    .fa-chevron-up {
        font-size: 0.6em;
    }
    .fa-chevron-up-span {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
